<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Fragments</title>
</head>
<body>

<!--Navbar Fragment -->
<nav th:fragment="navbarfragement" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" >
                <a class="nav-link" sec:authorize="anonymous" th:href="@{/login}">Login</a> <!-- <span class="sr-only">(current)</span>-->
            </li>
            <li class="nav-item" >
                <a class="nav-link" sec:authorize="authenticated" th:href="@{/logout}">Logout</a> <!-- <span class="sr-only">(current)</span>-->
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>

            <li class="nav-item" >
                <a class="nav-link" sec:authorize="anonymous" th:href="@{/register}">Register</a>
            <!--</li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/addItem}">Add Item</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/lostitems}">Lost Items</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/founditems}">Found Items</a>
            </li>-->
        </ul>

    </div>
</nav>
<div class="container-fluid">
</div>

</body>
</html>