<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div th:replace="fragments::navbarfragement"></div>


<!-- Header -->
<a name="home"></a>
<div class="intro-header">
    <div class="bg-overlay">
        <div class="container">


            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Item List</h1>
                        <h3>List of items</h3>
                        <hr class="intro-divider">


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="about"></a>
<div class="content-section-a">
    <div class="bg-overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
              <!--  ***************************************************************8-->
                    <h2>News List</h2>

                    <div th:each="item : ${newsitem}">


                        <!--<img th:src="${book.image}"/>-->
                        <span th:inline="text"> author: [[${item.author}]] </span><br/>
                        <span th:inline="text"> title: [[${item.title}]] </span><br/>
                        <span th:inline="text"> description: [[${item.description}]] </span><br/>
                        <span th:inline="text"> url: [[${item.url}]] </span><br/>
                        <span> <img th:src="${item.urlToImage}" width="200" heigh="200"> </span>><br/>
                        <span th:inline="text"> publishedAt: [[${item.publishedAt}]] </span>

                    </div>
                    <!--  ***************************************************************8-->
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
</div>
</div>


<a name="contact"></a>
<div class="banner">
    <div class="bg-overlay4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>