<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
<div th:replace="fragments::navbarfragement">
</div>

<div id="signup">
    <div class="signup-screen">
        <div class="space-bot text-center">
            <h1>Sign up</h1>
            <div class="divider"></div>
        </div>
        <form class="form-register" method="post" name="register" novalidate th:action="@{/register}" th:object="${newuser}" >
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

            <div class="input-field col s6">
                <input id="firstName" type="text" class="validate" required th:field="*{firstName}">
                <label for="firstName">firstName</label>
            </div>

            <div class="input-field col s6">
                <input id="lastName" type="text" class="validate" required th:field="*{lastName}">
                <label for="lastName">Last Name</label>
            </div>
            <div class="input-field col s6">
                <input id="email" type="email" name="email" ng-model="email" class="validate" required th:field="*{email}">
                <label for="email">Email</label>
            </div>

            <div class="input-field col s6">
                <input id="username" type="text" class="validate" required th:field="*{username}">
                <label for="username">username</label>
            </div>

            <div class="input-field col s6">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Password</label>
            </div>
            <div class="space-top text-center">
                <button>
                    <i class="material-icons left">done</i> Done
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!--JS files start-->

<script src="js/register.js"></script>


<!--JS files end-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>